.Container {
  border: 1px solid orange;
  width: 70%;
  height: 20em;
  margin: auto;
  margin-bottom: 80px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px purple;
  background-color: rgba(0, 0, 0, 0.8);
}